// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";


.conainer.overridecontainer{
    max-width: 4000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}