---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.conainer.overridecontainer {
  max-width: 4000px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.test {
  max-width: 4000px !important;
  margin: 0 auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.math {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.image-center {
  border: none !important;
  display: block !important;
  margin: auto !important;
  // height: 700px;
}

.code-block {
  background-color: #f8f8f8 !important;
  position: relative !important;
  border: 8px !important;
  border-radius: 8px !important;
  padding-top: 16px !important;
  padding-bottom: 0px !important;
  margin: 10px !important;
}

.copy-link-button {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  display: flex !important;
  flex-shrink: 0 !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f8f8f8 !important;
  color: #333333 !important;
  outline: none !important;
  border: 1px solid #cccccc !important;
  cursor: pointer !important;
  border-radius: 2px !important;
}

.copy-link-button:hover {
  background: #cccccc !important;
}

.table {
  overflow-x: auto;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  width: 220px;
  height: 250px;
  max-width: 220px;
  max-height: 250px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 2px 10px lightblue;
}

.card-image img {
  width: 220px;
  height: 125px;
  max-width: 220px;
  max-height: 125px;
  border-radius: 10px 10px 0px 0px;
}

.box1 img {
  object-fit: cover;
}

.card-link {
  width: inherit;
  height: inherit;
  text-decoration: none !important;
}
.card-title {
  width: 220px;
  height: 125px;
  max-width: 220px;
  max-height: 125px;
  text-align: center;
  // margin: auto;
  padding: 40px 0 0 0;
  display: flex; /* add flex display */
  justify-content: center; /* center horizontally */
  // align-items: center; /* center vertically */
  overflow: auto;
}

// When align items center, the card with a long title i.e, two lines of title, then the card moves
// If we put padding the titles are not centered.

.category-title {
  text-align: center !important;
  text-decoration: none !important;
  margin: 0 !important;
  padding: 0px;
  overflow: hidden;
}

.centered-caption {
  text-align: center;
}
