---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import "styles";


.conainer.overridecontainer{
    max-width: 4000px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.test {
    max-width: 4000px !important;
    margin: 0 auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.image1 {
    display: block !important;
    margin: auto !important;
}

.code-block {
    background-color: #f8f8f8 !important;
    position: relative !important;
    border: 8px !important;
    border-radius: 8px !important;
    padding-top: 16px !important;
    padding-bottom: 0px !important;
    margin: 10px !important;
}

.copy-link-button {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    flex-shrink: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #f8f8f8 !important;
    color: #333333 !important;
    outline: none !important;
    border: 1px solid #cccccc !important;
    cursor: pointer !important;
    border-radius: 2px !important;
  }

  .copy-link-button:hover {
    background: #cccccc !important;
  }


  .table{
    overflow-x: auto; 
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
  }